<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaqi.mapper.ArticleTagMapper">
  <resultMap id="BaseResultMap" type="com.xiaqi.entity.ArticleTag">
    <result column="articleId" jdbcType="BIGINT" property="articleId" />
    <result column="tagId" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  <insert id="insert" parameterType="com.xiaqi.entity.ArticleTag">
    insert into article_tag (articleId, tagId)
    values (#{articleId,jdbcType=BIGINT}, #{tagId,jdbcType=INTEGER})
  </insert>
    <delete id="delete" parameterType="ArticleTag">
      delete from article_tag
      where articleId = #{articleId} and tagId = #{tagId}
    </delete>
  <select id="getAllTagsByArticleId" resultType="integer">
    select tagId
    from article_tag
    where articleId = #{articleId}
  </select>
</mapper>